/* COLORS */
$PrimaryThemeColor: #001693;
$SecondThemeColor: #7f4397;
$white_color: #fff;
$black_color: #000;
$light_grey: #a2a2a2;
$Second_light_grey: #333;
$light_black_color: #1c181f;
$error_color: #ce0000;
$border_color: #b3b3b3;
$btn_color: #595959;
